body {
  background-color: #c2ff6e; /* Vert citron */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #a05cf3; /* Violet */
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #fff; /* Texte blanc */
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
input[type="number"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Bordure grise */
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff9900; /* Orange */
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #ff6600; /* Orange plus foncé au survol */
}

#results {
  margin-top: 20px;
}
